{% extends 'base.html' %}

{% block title %}Index{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="card shadow p-4">
            <h1 class="text-center mb-4">Datos del Alumno</h1>
            <div class="text-center mb-5">
                <p><strong>Nombres:</strong> Guillermo Joaquín</p>
                <p><strong>Apellidos:</strong> Quintana Arriagada</p>
                <p><strong>Rut:</strong> 20366060-K</p>
                <p><strong>Sección:</strong> Programación Back End (TI2041/IEI-170-N4/D Temuco IEI)</p>
                <p><strong>Profesor:</strong> Pedro Andrés Gaete Villegas</p>
                <p><strong>Ramo:</strong> Programación Back End</p>
            </div>
        </div>
    </div>
{% endblock %}
