{% extends 'base.html' %}

{% block title %}Sobre Nosotros{% endblock %}

{% block content %}
    <h1 class="text-left my-4">Sobre Nosotros</h1>
        <p class="text-left">En SaborLocal, somos el destino culinario que celebra la auténtica esencia de la gastronomía local. 
            En el corazón de nuestra ciudad, fusionamos tradición e innovación para ofrecerte una experiencia única.</p>

    <h3 class="text-left my-4">Nuestra Historia</h3>
        <p class="text-left">Nacimos con la visión de apoyar y celebrar la diversidad culinaria de nuestra comunidad,
             desde recetas tradicionales hasta creaciones contemporáneas.</p>
    <h3 class="text-left my-4">Compromiso Sostenible</h3>
        <p class="text-left">Trabajamos estrechamente con agricultores locales para garantizar la frescura y calidad de
             cada ingrediente, comprometiéndonos con la sostenibilidad y el apoyo a la comunidad.</p>
    <h3 class="text-left my-4">Nuestro Equipo</h3>
        <p class="text-left">Un equipo apasionado de chefs y profesionales de la cocina se esfuerza por superar tus 
            expectativas y hacer de cada visita a SaborLocal una experiencia inolvidable.</p>
{% endblock %}